@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background-color: #FEAFC3;
}
.page {
  width: 100%;
}

.main-index {
  flex-grow: 1;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}

.gllacy-logo {
  margin-top: 24px;
  margin-right: 24px;
}
.navigation {
  display: flex;
}

.navigation-first {
  display: flex;
  margin-top: 38px;
  margin-right: 100px;
}

.catalog-button {
  display: block;
  width: 117px;
  height: 36px;
  border: none;
  background-color: #FEAFC3;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  padding: 0;
  padding-left: 16px;
  padding-right: 38px;
  margin: 0;
  margin-top: -2px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.catalog-arrow {
  position: absolute;
  right: 23px;
  top: 15px;
  fill: #2D3440;
}

.catalog-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
  border-radius: 30px;
}

.catalog-button:active {
  background-color: #FCFCFC;
}

.catalog-button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
}

.catalog-button:focus .catalog-arrow {
  margin: -2px;
}

.catalog-button-default {
  background-color: #FF4A78;
  color: #FCFCFC;
  border-radius: 30px;
}

.catalog-button-default .catalog-arrow {
  fill: #FCFCFC;
  transform: rotate(180deg);
}

.catalog-button-default:hover {
  background-color: #FF4A78;
  opacity: 0.6;
  border: none;
}

.catalog-button-default:active {
  background-color: #FF4A78;
  opacity: 0.3;
  border: none;
}

.catalog-button-default:focus {
  background-color: #FF4A78;
  border: 2px solid #2D3440;
}

.navigation-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  text-transform: none;
  display: block;
  width: auto;
  height: 36px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}


.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-delivery-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
  margin-right: 16px;
}


.navigation-link:active {
  background-color: #FCFCFC;
}
.navigation-delivery-link {
  margin-right: 32px;
}
.navigation-second {
  display: flex;
  margin-top: 48px;
}

.phone-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.search-button {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.search-icon {
  position: absolute;
  fill: #2D3440;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.search-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search-button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
}
.search-button:active {
  background-color: #FCFCFC;
  border: none;
}

.entrance-button {
  display: block;
  width: 88px;
  height: 32px;
  border-radius: 30px;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  padding-left: 30px;
  padding-right: 16px;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  position: relative;
}

.entrance-icon {
  position: absolute;
  fill: #2D3440;
  left: 17px;
  top: 8px;
}

.basket-button {
  display: block;
  min-width: 32px;
  height: 32px;
  border-radius: 30px;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  padding-left: 37px;
  padding-right: 16px;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  position: relative;
}

.basket-icon {
  position: absolute;
  fill: #2D3440;
  left: 16px;
  top: 8px;
}
.navigation-button-default {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.navigation-button-default .search-icon {
  fill: #FCFCFC;
}

.navigation-button-default .entrance-icon {
  fill: #FCFCFC;
}

.navigation-button-default .basket-icon {
  fill: #FCFCFC;
}

.navigation-button-defaultt:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-button-default:focus {
  background-color: #FF4A78;
  border: 2px solid #000000;
}

.navigation-button-default:focus .entrance-icon {
  margin: -2px;
}

.navigation-button-default:focus .basket-icon {
  margin: -2px;
}

.navigation-button-default:active {
  opacity: 0.3;
}
