@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background-color: #FEAFC3;
}
.page {
  width: 100%;
}

.main-index {
  flex-grow: 1;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}

.gllacy-logo {
  margin-top: 24px;
  margin-right: 24px;
}
.navigation {
  display: flex;
  min-height: 56px;
}

.navigation-first {
  display: flex;
  margin-top: 38px;
  margin-right: 100px;
}

.catalog-button {
  display: block;
  width: 117px;
  height: 36px;
  border: none;
  background-color: #FEAFC3;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  padding: 0;
  padding-left: 16px;
  padding-right: 38px;
  margin: 0;
  margin-top: -2px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.select-catalog {
  position: absolute;
  z-index: 2;
  top: 80px;
  box-sizing: border-box;
  width: 135px;
  font-family: "inter", sans-serif;
  color: #2D3440;
  background-color: #FCFCFC;
  min-height: 40px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  display: none;
}
.select-catalog-open {
  display: block;
}
.select-catalog-content {
  height: 100%;
}

.select-catalog-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.select-catalog-item {
  padding: 0;
  margin: 0;
}

.select-catalog-item:last-child {
  padding: 0;
}


.select-catalog-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin: 0;
  padding: 0;
  display: block;
  width: 136px;
  height: 32px;
  box-sizing: border-box;
  border: none;
  padding-top: 6px;
  padding-left: 16px;
}

.select-catalog-link-new {
  font-weight: 700;
  padding-bottom: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
}

.select-catalog-link-new::after {
  content: '';
  width: 103px;
  height: 1px;
  background-color: #B9B9B9;
  border: none;
  position: absolute;
  left: 16px;
  top: 38px;
}
.select-catalog-item:last-child a {
  margin-bottom: 8px;
}

.select-catalog-link:hover {
  background-color: #FFCBD8;
  transition: 0.3s;
}

.select-catalog-link:focus {
  background-color: #FF4A78;
  transition: 0.3s;
}

.select-catalog-link:active {
  background-color: #FFCBD8;
  transition: 0.3s;
}

.catalog-arrow {
  position: absolute;
  right: 23px;
  top: 15px;
  fill: #2D3440;
}

.catalog-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
  border-radius: 30px;
}

.catalog-button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
}

.catalog-button:active {
  background-color: #FCFCFC;
}

.catalog-button:focus .catalog-arrow {
  margin: -2px;
}

.catalog-button-default {
  background-color: #FF4A78;
  color: #FCFCFC;
  border-radius: 30px;
}

.catalog-button-default .catalog-arrow {
  fill: #FCFCFC;
  transform: rotate(180deg);
}

.catalog-button-default:hover {
  background-color: #FF4A78;
  opacity: 0.6;
  border: none;
}

.catalog-button-default:active {
  background-color: #FF4A78;
  opacity: 0.3;
  border: none;
}

.catalog-button-default:focus {
  background-color: #FF4A78;
  border: 2px solid #2D3440;
}

.navigation-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  text-transform: none;
  display: block;
  width: auto;
  height: 36px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}


.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
}


.navigation-link:active {
  background-color: #FCFCFC;
}
.navigation-delivery-link {
  margin-right: 32px;
}
.navigation-second {
  display: flex;
  margin-top: 48px;
  padding: 0;
  margin-right: 0;
  margin-left: auto;
}

.phone-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.navigation-item {
  margin: 0;
  padding: 0;
  position: relative;
}
.search-button {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  fill: #2D3440;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popover-search {
  position: absolute;
  z-index: 1;
  top: 28px;
  right: 15px;
  box-sizing: border-box;
  width: 356px;
  font-family: "inter", sans-serif;
  color: #B9B9B9;
  background-color: #FCFCFC;
  min-height: 96px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  display: none;
}
.popover-search-open {
  display: block;
}

.search-field {
  display: block;
  box-sizing: border-box;
  width: 324px;
  min-height: 48px;
  margin-left: 16px;
  margin-top: 24px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding-left: 16px;
}

.popover-search::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #2D3440;
  position: absolute;
  z-index: 2;
  transform: rotate(90deg);
  left: 20px;
  top: 47px;
}

.entrance-button {
  display: block;
  width: 88px;
  height: 32px;
  border-radius: 30px;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  padding-left: 30px;
  padding-right: 16px;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  position: relative;
}

.entrance-icon {
  position: absolute;
  fill: #2D3440;
  left: 17px;
  top: 8px;
}

.popover-entrance {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 14px;
  box-sizing: border-box;
  width: 420px;
  font-family: "inter", sans-serif;
  color: #2D3440;
  background-color: #FCFCFC;
  min-height: 350px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  padding: 48px 48px 48px 48px;
  display: none;
}

.popover-entrance-open {
  display: block;
}
.entrance-title {
  font-family: "inter", sans-serif;
  color: #2D3440;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.mail-field {
  display: block;
  width: 308px;
  height: 48px;
  font-family: "inter", sans-serif;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  outline: 0;
  padding-left: 16px;
}

.password-field {
  display: block;
  width: 308px;
  height: 48px;
  font-family: "inter", sans-serif;
  color: #2D3440;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  outline: 0;
  padding-left: 16px;
}

.entrance-button-section {
  display: grid;
  grid-template-columns: 121px 120px;
  column-gap: 23px;
  margin-top: 32px;
}

.mail-entrance-button {
  display: block;
  box-sizing: border-box;
  width: 113px;
  height: 44px;
  border-radius: 26px;
  background-color: #FF2F64;
  border: 4px solid #FEAFC3;
  color: #FCFCFC;
  font-family: "inter", sans-serif;
  font-weight: 700;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  margin: 0;
  padding: 0;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.forget-password-link {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-family: "inter", sans-serif;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.forget-password-link::after {
  content: '';
  width: 113px;
  height: 1px;
  background-color: #2D3440;
  position: absolute;
  top: 20px;
  right: 8px;
}
.registration-link {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-family: "inter", sans-serif;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.registration-link::after {
  content: '';
  width: 83px;
  height: 1px;
  background-color: #2D3440;
  position: absolute;
  top: 20px;
  right: 36px;
}

.basket-button {
  display: block;
  min-width: 32px;
  height: 32px;
  border-radius: 30px;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  padding-left: 37px;
  padding-right: 16px;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  position: relative;
}

.basket-icon {
  position: absolute;
  fill: #2D3440;
  left: 16px;
  top: 8px;
}

.popover-basket {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 14px;
  box-sizing: border-box;
  width: 441px;
  min-height: 185px;
  font-family: "inter", sans-serif;
  color: #2D3440;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  font-size: 18px;
  line-height: 22px;
  padding: 48px 51px 48px 48px;
  display: none;
}

.popover-basket-open {
  display: block;
}
.basket-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cart-item {
  display: grid;
  grid-template-columns: 46px 16px 150px 5px 100px 6px 10px;
  padding-top: 24px;
}

.cart-logo {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.cart-item-title {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.cart-item-description {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  margin: 0;
  padding: 0;
  color: #B9B9B9;
  font-size: 14px;
  line-height: 20px;
  padding-top: 4px;
}

.cart-item-price {
  grid-row: 1 / 3;
  grid-column: 5 / 6;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  align-self: center;
}

.cart-item-button {
  grid-row: 1 / 3;
  grid-column: 7 / 8;
  cursor: pointer;
  padding: 0;
  display: block;
  width: 10px;
  height: 10px;
  border: none;
  background-color: #FCFCFC;
  align-self: center;
}

.checkout-section {
  padding-top: 64px;
  display: flex;
  align-items: center;
}
.button-checkout {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 198px;
  height: 44px;
  border-radius: 26px;
  background-color: #FF2F64;
  color: #FCFCFC;
  border: 4px solid #FEAFC3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  position: relative;
}

.button-checkout::before {
  content: '';
  width: 345px;
  height: 1px;
  background-color: #E7E7E7;
  position: absolute;
  left: -5px;
  bottom: 70px;
}

.final-price {
  color: #2D3440;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding-left: 32px;
}

.popover-basket-empty {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 14px;
  box-sizing: border-box;
  width: 288px;
  min-height: 156px;
  font-family: "inter", sans-serif;
  color: #2D3440;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
  display: none;
}

.popover-basket-empty-open {
  display: block;
}

.basket-empty-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

}
.navigation-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
}

.navigation-button:focus .entrance-icon {
  margin: -2px;
}

.navigation-button:focus .basket-icon {
  margin: -2px;
}

.navigation-button:active {
  background-color: #FCFCFC;
  border: none;
}

.navigation-button-default {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.navigation-button-default .search-icon {
  fill: #FCFCFC;
}

.navigation-button-default .entrance-icon {
  fill: #FCFCFC;
}

.navigation-button-default .basket-icon {
  fill: #FCFCFC;
}

.navigation-button-defaultt:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-button-default:focus {
  background-color: #FF4A78;
  border: 2px solid #000000;
}

.navigation-button-default:focus .entrance-icon {
  margin: -2px;
}

.navigation-button-default:focus .basket-icon {
  margin: -2px;
}

.navigation-button-default:active {
  opacity: 0.3;
}

.main-index {
  margin: 0 auto;
  color: #2D3440;
  width: 1170px;
}

.slider {
  margin-top: 21px;
  padding-left: 70px;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: block;
}


.slider-about {
  display: flex;
  align-items: center;
}

.slider-content {
  margin-right: 21px;
  width: 480px;
}
.slider-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 24px;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.slider-order-button {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  width: 139px;
  height: 44px;
  border-radius: 26px;
  background-color: #FCFCFC;
  font-family: "inter", sans-serif;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.1);
  border: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.slider-order-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  transition: 0.3s;
}

.slider-order-button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  transition: 0.3s;
}

.slider-order-button:active {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
  transition: 0.3s;
}

.slider-order-button:disabled {
  color: #B9B9B9;
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: none;
}

.slider-images {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.basic-slider-image {
  position: relative;
}

.basic-slider-image::after {
  content: '';
  width: 312px;
  height: 312px;
  border-radius: 50%;
  border: none;
  background-color: #FFCBD8;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider-preview-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 79px;
}

.slider-preview-item {
  display: block;
  width: 66px;
  height: 150px;
  position: relative;
  margin: 0;
  padding: 0;
}

.slider-preview-item:last-child {
  margin-left: 70px;
}

.slider-preview-item::after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: #FFCBD8;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  top: 26px;
  right: -20px;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 235px;
  width: 100%;
  left: 482px;
  z-index: 2;
  display: flex;
}

.slider-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  outline: 2px solid #FCFCFC;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  position: relative;
}
.slider-next {
  transform: translateX(274px);
}
.arrow-slider {
  position: absolute;
  fill: #FCFCFC;
}

.arrow-slider-next {
  right: 14px;
  top: 13px;
}

.arrow-slider-prev {
  left: 14px;
  top: 13px;
}

.slider-button:hover {
  background-color: #FCFCFC;
  outline: none;
  transition: 0.3s;
}

.slider-button:hover .arrow-slider {
  fill: #2D3440;
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
  transition: 0.3s;
}

.slider-button:focus .arrow-slider {
  fill: #2D3440;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
  transition: 0.3s;
}

.slider-button:disabled {
  opacity: 0.4;
}

.socials {
  display: flex;
  justify-content: space-between;
}
.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}
.slider-pagination-item:last-child {
  margin-right: 0;
}
.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.slider-pagination-button-current {
  background-color: #FCFCFC;
  outline: none;
}
.slider-pagination-button:hover {
  outline: 1px solid #FCFCFC;
  transition: 0.3s;
}

.slider-pagination-button:focus {
  outline: 1px solid #2D3440;
  transition: 0.3s;
}

.slider-pagination-button:active {
  outline: none;
}

.social-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-item {
  margin: 0;
  padding: 0;
  margin-left: 16px;
}

.social-item:first-child {
  margin-left: 0;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.social-link:hover {
  background-color: #2D3440;
  outline: none;
  border: none;
  transition: 0.3s;
}

.social-link:focus {
  background-color: #2D3440;
  outline: 2px solid #2D3440;
  transition: 0.3s;
}

.social-link:active {
  opacity: 0.5;
  transition: 0.3s;
}

.slider-image {
  display: block;
}
