@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/raleway/inter-400.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background-color: #FEAFC3;
}
.page {
  width: 100%;
}

.main-index {
  flex-grow: 1;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}

.gllacy-logo {
  margin-top: 24px;
  margin-right: 24px;
}
.navigation {
  display: flex;
}

.navigation-first {
  display: flex;
  margin-top: 42px;
  margin-right: 180px;
}

.catalog-button {
  display: block;
  width: 117px;
  border: none;
  background-color: #FEAFC3;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  padding: 0;
  padding-left: 16px;
  padding-right: 38px;
  margin: 0;
  margin-top: -35px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.navigation-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  text-transform: none;
}
.navigation-delivery-link {
  margin-right: 32px;
}
.navigation-second {
  display: flex;
  margin-top: 42px;
}

.phone-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-right: 16px;
}

.search-button {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.entrance-button {
  display: block;
  width: 88px;
  height: 32px;
  border-radius: 30px;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  padding-left: 30px;
  padding-right: 16px;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.basket-button {
  display: block;
  min-width: 32px;
  height: 32px;
  border-radius: 30px;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 0;
  padding-left: 30px;
  padding-right: 16px;
  margin: 0;
  margin-top: -10px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}
